<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <!--<sectionGroup name="database" type="AppConfigEnv.EnvironmentSection, AppConfigEnv" />-->
    <section name="database" type="AppConfigEnv.EnvironmentSection2, AppConfigEnv" />
  </configSections>

  <database configSource="database.config" />
  <!--<database>
    <development>
      <host>x</host>
      <new_database>just per get</new_database>
    </development>
    <test>
      <host>localhost</host>
      <database>olutador_development</database>
      <user>olutador</user>
      <password>olutador</password>
    </test>
  </database>-->
</configuration>