<?xml version="1.0" encoding="utf-8" ?>
<database>
  <development>
    <driver>mysql</driver>
    <host>localhost</host>
    <database>olutador_development</database>
    <user>olutador</user>
    <password>olutador</password>
  </development>
  <test>
    <host>localhost</host>
    <database>olutador_test</database>
    <user>olutador</user>
    <password>olutador</password>
  </test>
</database>